/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Optional main content area */
.main-content {
  flex: 1;
  padding: 15rem;
  text-align: center;
  color:  #800000
}
